.newUser-main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgb(0, 0, 0,0.6);
}
.newUser-content{
    position: relative;
    width: 30rem;
    height: 20rem;
    background-color: #e2e2e2;
    border-radius: 8px;
    z-index: 30;
    color: #303030;
}
.newUser-header{
    display: flex;
    justify-content: space-between;
    margin: 8px;
}
.newUser-header h2{
    margin: 0;
}
.newUser-header button svg{ 
   width: 20px;
   height: 20px;
}
.newUser-form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 2rem;
    gap: 12px;
    width: 100%;
    height: 100%;
}
.newUser-form button:disabled{
    opacity: 0.5;
    border: 1px red solid;
}
.newUser-input{
    display: flex;
    flex-direction: column;
}
.newUser-input input{
    color: #303030;
    background-color: #c0c0c0;
    border: 1px #303030 solid;
    width: 150px;
}

